* {
    font-family: Roboto, sans-serif;
}

.hero {
    background-color: #1f2937;
}

ul {
    list-style: none;
    display: flex;
}

.header-section {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}